<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<style>
        .navbar-brand {font-size: 30px;}
        .navbar-toggle {margin: 13px 15px 13px 0;}
        a {
            font-size: 18px;
            padding-bottom: 20px !important;
            padding-top: 20px !important;
            transition: all 0.3s ease;
        }
    nav.navbar.shrink {
        min-height: 35px;
    }
    .navbar-brand {font-size: 25px;}
    a {
        font-size: 15px;
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }
    .navbar-toggle {
        margin: 8px 15px 8px 0;
        padding: 4px 5px;
    }


</style>