<html>
    <head>
        <style>
            body{
                background-color:#91CCC2;
            }
            .container{
                width:250px;
                height:100px;
                margin: 20% auto;
                color:white;
                font-size:1rem;
                font-family:Arial,Helvetica Neue,Helvetica,sans-serif;

            }
            p{
                text-align:center;
            }
            .button{

                font-size:1.5rem;
                border:2px solid white;
                border-radius:100px;
                width:40px;
                height:40px;
                padding:5px;
                margin: 5% auto 0% auto;
                transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            }

            .icon{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align:center;
            }

              .button:hover{
                  width:125px;
                  background-color: white;
                  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
                  color: #91CCC2;
                  transition:.3s;
              }

            .button:active{
                box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
                transition: .05s
            }
        </style>
        <meta content="Lepton Weather" property="og:title">

        <meta content="A simple webpage to get your morning weather!" property="og:description">

        <meta content="Creator : Josh Wells" property="og:site_name">

        <meta content='https://cdn.discordapp.com/attachments/346759275789549591/738022782302027836/Untitled.png' property='og:image'>
        <title>Lepton Weather</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Lepton Weather!</h1>
            <form action="results" method="post">
                <input type="TEXT" name="location" id="local" size="40" placeholder="Please select a location"><br>
                <div class="button"><button type="submit" id="submit" class="button"><div class="icon"><i class="fa fa-floppy-o"></i></div>Get Report</button></div>
            </form>
            <% if (temp) { %>
                <h1><%- temp %></h1>
            <% } else { %>
                <h1>Boohiss no myVar!</h1>
            <% } %>
        </div>
    </body>
</html>