<html>
    <% include('../partials/header');%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <head>
        <style>
            /* Input Field CSS*/
            h1 {
                font-size: 28px;
                margin-bottom: 2.5%;
            }

            input,
            span,
            label,
            textarea {
                font-family: 'Ubuntu', sans-serif;
                display: block;
                margin: 10px;
                padding: 5px;
                border: none;
                font-size: 22px;
            }

            textarea:focus,
            input:focus {
                outline: 0;
            }
            /* Question */

            input.question,
            textarea.question {
                font-size: 48px;
                font-weight: 300;
                border-radius: 2px;
                margin: 0;
                border: none;
                width: 80%;
                background: rgba(0, 0, 0, 0);
                transition: padding-top 0.2s ease, margin-top 0.2s ease;
                overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
            }
            /* Underline and Placeholder */

            input.question + label,
            textarea.question + label {
                display: block;
                position: relative;
                white-space: nowrap;
                padding: 0;
                margin: 0;
                width: 10%;
                border-top: 1px solid red;
                -webkit-transition: width 0.4s ease;
                transition: width 0.4s ease;
                height: 0px;
            }

            input.question:focus + label,
            textarea.question:focus + label {
                width: 50%;
            }

            input.question:focus,
            input.question:valid {
                padding-top: 35px;
            }

            textarea.question:valid,
            textarea.question:focus {
                margin-top: 35px;
            }

            input.question:focus + label > span,
            input.question:valid + label > span {
                top: -100px;
                font-size: 22px;
                color: #333;
            }

            textarea.question:focus + label > span,
            textarea.question:valid + label > span {
                top: -150px;
                font-size: 22px;
                color: #333;
            }

            input.question:valid + label,
            textarea.question:valid + label {
                border-color: green;
            }

            input.question:invalid,
            textarea.question:invalid {
                box-shadow: none;
            }

            input.question + label > span,
            textarea.question + label > span {
                font-weight: 300;
                margin: 0;
                position: absolute;
                color: #8F8F8F;
                font-size: 48px;
                top: -66px;
                left: 0px;
                z-index: -1;
                -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
                transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
            }

            input[type="submit"] {
                -webkit-transition: opacity 0.2s ease, background 0.2s ease;
                transition: opacity 0.2s ease, background 0.2s ease;
                display: block;
                opacity: 0;
                margin: 10px 0 0 0;
                padding: 10px;
                cursor: pointer;
            }

            input[type="submit"]:hover {
                background: #EEE;
            }

            input[type="submit"]:active {
                background: #999;
            }

            input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
                -webkit-animation: appear 1s forwards;
                animation: appear 1s forwards;
            }

            input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
                display: none;
            }

            @-webkit-keyframes appear {
                100% {
                    opacity: 1;
                }
            }

            @keyframes appear {
                100% {
                    opacity: 1;
                }
            }

            /* Button CSS */
            body{
                background-color:#91CCC2;
            }
            .container{
                width:250px;
                height:100px;
                margin: 20% auto;
                color:white;
                font-size:1rem;
                font-family:Arial,Helvetica Neue,Helvetica,sans-serif;

            }
            p{
                text-align:center;
            }
            .button{
                color: #D3D3D3;
                font-size:1.5rem;
                border:2px solid white;
                border-radius:100px;
                width:100px;
                height:40px;
                padding:5px;
                margin: 5% auto 0% auto;
                transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            }

              .button:hover{
                  width:150px;
                  background-color: white;
                  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
                  color: #91CCC2;
                  transition:.3s;
              }

            .button:active{
                box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
                transition: .05s
            }
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/346759275789549591/738036316691759154/png-transparent-top-hat-moustache-drawing-party-hat-hat-top-hat-logo-thumbnail.png"/>

        <meta content="Lepton Weather" property="og:title">

        <meta content="A simple webpage to get your morning weather!" property="og:description">

        <meta content="Creator : Josh Wells" property="og:site_name">

        <meta content='https://cdn.discordapp.com/attachments/346759275789549591/738022782302027836/Untitled.png' property='og:image'>
        <title>Lepton Weather</title>
    </head>
    <body>
        <div class="container" style="width:50vw;">
            <h1>Welcome to Lepton Weather!</h1>
            <form action="results" method="post" style="width:50vw;">
                <input type="text" name="location" class="question" id="nme" required autocomplete="off" />
                <label for="nme"><span>What location for today?</span></label>
                <button type="submit" id="submit" class="button">Submit</button>
            </form>
            <% if (temp) { %>
                <div style="background: rgba(0, 0, 0, 0.2); padding:1vw;border-radius: 20px;">

                    <h1 style="font-size:1.5vw;"> <%- location %><br> <%- observationtime %></h1>
                    <h1 style="font-size:4vw;margin-top:0;"><img width="65" height="55" style=" margin-right:1vh;" src="<%- cloudy_image %>"><%- temp %> °C</h1>
                    <canvas width="200" height="200" id="document_stats"></canvas>
                    <script>
                        const documentStats = document.getElementById('document_stats').getContext('2d');
                        const statsArr = {
                            commentary: 0,
                            variants: 0
                        };
                        const chartData = {
                            labels: [],
                            datasets: [{
                                data: [],
                                borderWidth: 5,
                                backgroundColor: ['#2098d4', '#f8da50'],
                                hoverBackgroundColor: ['#148fb5', '#f2d02b'],
                            }],
                        };

                        const result = {
                            "id": "13",
                            "doc_name": "Confidentiality Agreement - (Non-Disclosure Agreement)",
                            "short_name": "Comprehensive One-Directional",
                            "long_description": "This agreement is intended to be used by a business when providing confidential information in one direction from the business to the recipient party. This agreement is comprehensive and includes various protections for the party disclosing the confidential information. This agreement can be used in various contexts eg. hiring a contract worker, or providing confidential information for a limited scope project.",
                            "overview": {
                                "name": "NDA",
                                "summary": "An NDA is a non-disclosure agreement, also known as a confidentiality agreement. The person receiving confidential information agrees not to share that information with others and not to use the information except as authorized by the person disclosing the information.",
                                "usage": "This document could be used in any situation where confidential information is shared, including employment/consulting relationships, potential investors, potential business relationships, potential mergers and acquisitions, potential manufacturers of a product etc.",
                                "who_signs": "Both the person receiving the information (‘receiving party’) and the person disclosing the information (‘disclosing party’) will sign the NDA. Sometimes certain affiliates or representatives of the receiving and disclosing parties will also be required to sign the NDA.",
                                "description": "Non-disclosure clauses can range in length from a clause contained in an agreement (eg. an employment agreement), to a lengthy and detailed stand-alone contract.\n\n                    The NDA must contain a general duty to not disclose the confidential information and a prohibition of use of the confidential information except for the purpose permitted in the NDA. The confidential information and the permitted purpose must be defined, and should be appropriate to the unique needs of the situation. The NDA should also include a list of exclusions from the obligation not to disclose, as well as a description of persons to whom the receiving party can disclose the information eg. authorized representatives.\n\n                    Many NDA’s contain further restrictive covenants designed to protect the disclosing party. These may include a non-competition clause, a non-solicitation clause, a non-circumvention clause or an expanded non-use clause.",
                                "core_elements": "The core elements include: definition of confidential information, general duty not to disclose, confidential information exclusions, use limited to purpose, definition of use or purpose, authorized representatives, term, termination, remedies, return or destruction of confidential information.\n\n                    Some additional clauses include handling of confidential information and safeguarding requirements, ownership of confidential information and its derivatives, no representation as to accuracy of confidential information, confidentiality of agreement itself, injunctive relief, liability for actions of representatives, IP assignment and transfer of moral rights, no conflict with another agreement, non-competition, non-solicitation, non-circumvention, non-use, no obligation to enter into a business relationship.",
                                "related_documents": ""
                            },
                            "status": [{
                                "label": "commentary",
                                "count": "127"
                            }, {
                                "label": "variants",
                                "count": "256"
                            }]
                        };

                        // TODO: Add permissions later. Hide from view later.
                        result.status.filter((v, i) => { //debugger;
                            statsArr[v.label] = v.count;
                            $(`.${result.status[i].label.toLowerCase()}_stats span`).text(result.status[i].count);
                        });

                        // for Chart legend
                        chartData.labels = Object.keys(statsArr);
                        // for charts data
                        chartData.datasets[0].data = Object.values(statsArr);

                        // And for a doughnut chart
                        new Chart(documentStats, {
                            type: 'doughnut',
                            data: chartData,
                            maintainAspectRatio: false,
                            responsive: true,
                            options: {
                                legend: {
                                    display: false,
                                    position: 'left'
                                },
                            },
                        });
                    </script>
                </div>
            <% } %>
        </div>


    </body>
</html>